@using Microsoft.AspNetCore.Identity
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h4>Students List GIT</h4>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentViewModel student in Model.Students)
            {
                @Html.Partial("_row",student)
            }        
        </tbody>
    </table>
}
@*@model List<StudentViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h4>Students List GIT</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th>StudentId</th>
            <th>FirstName</th>
            <th>MiddleName</th>
            <th>LastNames</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
    @foreach (StudentViewModel student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.FirstName</td>
            <td>@student.MiddleName</td>
            <td>@student.LastNames</td>
            <td>@student.Age</td>
        </tr>
    }        
    </tbody>
</table>*@