@model List<StudentViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h4>Students List GIT</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th>StudentId</th>
            <th>FirstName</th>
            <th>MiddleName</th>
            <th>LastNames</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
    @foreach (StudentViewModel student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.FirstName</td>
            <td>@student.MiddleName</td>
            <td>@student.LastNames</td>
            <td>@student.Age</td>
        </tr>
    }        
    </tbody>
</table>