@model StudentViewModel

<tr>
    <td><strong>@Model.StudentId</strong></td>
    <td><input asp-for="@Model.FirstName" /></td>
    <td><input asp-for="@Model.MiddleName" /></td>
    <td><input asp-for="@Model.LastNames" /></td>
    <td><input asp-for="@Model.Age" /></td>
</tr>
